{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div id="input">
        <label>Path: </label><input type="text" id="path_input"/>
        <label>Name: </label><input type="text" id="name_input"/>

        <input type="radio" name="type" value="1"/>Directory
        <input type="radio" name="type" value="2" checked/>File

        <textarea id="text_input"></textarea>

        <button name="Submit" onclick="put_data()">Create new page</button>
    </div>
</div>



{% endblock %}
