{% extends "app/layout.html" %}

{% block content %}

<br/>

<div class="row" id="editor">
    <div class="col-md-6" id="input">
        <textarea id="text_input" v-model="input" debounce="300">
        {{ text }}
        </textarea>
    </div>
    <div class="col-md-6" id="markdeep">
        <div v-html="format( input )">
        </div>
    </div>
</div>
<br/>
<div class="row" >
    <div class="col-md-12 text-center">
        <button name="Save" type="button" class="btn btn-primary" onclick="post_data()">update page</button>
    </div>
</div>

{% endblock %}
