{% extends "app/layout.html" %}

{% block content %}

<br/>

<div class="row" id="editor">
    <div class='col-md-2'></div>
    <div class="col-md-8" id="markdeep-view">
        <markdeep>
            {{ text }} 
        </markdeep>
    </div>
</div>

{% endblock %}
